# macOS
.DS_Store

# Java / Gradle
letter/build/
letter/.gradle/
letter/*.jar
letter/out/

# Spring
letter/src/main/resources/application-local.properties

# Node / React
culetter-react/node_modules/
culetter-react/dist/
culetter-react/.env.local

# IDE
.idea/
*.iml
.vscode/

# PDF
*.pdf
